---
---

@import "{{ site.theme }}";
img#double 
{
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Chrome                         */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
  transform: scale(2);

}

@font-face {
font-family: "Mega Man 6 Stats";
src: url("../fonts/Mega-Man-6-Stats.otf");
}

@font-face {
font-family: "Mega Man 9";
src: url("../fonts/MMRock9.otf");
}

@font-face {
font-family: "Nintendo DS";
src: url("../fonts/Nintendo-DS-BIOS.ttf");
}


@font-face {
font-family: "GameBoy";
src: url("../fonts/GamegirlClassic-9MVj.ttf");
}

.callout {
    aign: center;
}

//Site Menu

#main
{
    width: 98%;
    max-width: 1200px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    background: #00000A;
    color: #f0f0ff;
}


body  {
  background-image: url("https://7mercs.pro/images/starrybg.PNG");
  color: #E8E8F8;
	}

#topbar
{
    background: #181868;
    background-image: url("https://nonnietestsite.cfw.me/files/resources/pixelgrade.png");
    width: 100%;
    height: 48px;
    top: 0px;
    position: -webkit-sticky;
    position: sticky;
	margin-top: 16px;
}

#content
{
    clear: both;
    padding: 1%;
}

#mobilemenu
{
    float: left;
    width: 5%;
    min-width: 50px;
    height: 48px;
    font-size: 2em;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

#navmenu .menuitem
{
    background: #030303;
    font-family: 'GameBoy';
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
    color: white;
    text-align: center;
    min-width: 136px;
    border: 8px solid transparent;
    box-shadow: 2px 2px #00000066;
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    border-image: url("https://nonnietestsite.cfw.me/files/resources/buttonborder-color.png") 8 round;
}

#navmenu
{
    margin-top: 8px;
    margin-left: 3%;
}

#footer
{
    text-align: center;
    font-size: 0.8em;
    background: #181868;
}

#topbanner
{
    /*background-color: #151525;*/
    background-color: black;
    background-image: url("https://nonnietestsite.cfw.me/files/resources/bg-planet.png"), url("https://nonnietestsite.cfw.me/files/resources/mmk-group.png"), url("https://nonnietestsite.cfw.me/files/resources/gu-group.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: bottom center, bottom left, right 10px;
    image-rendering: pixelated;
}

#topbanner h1
{
    font-family: "Audiowide", sans-serif;
    text-align: center;
    color: white;
    font-size: 6vw;
    text-shadow: 0px 0px 5px cyan;
    text-transform: none;
	padding-top: 5%;
	margin-top:16px;
}

.submenu
{
    display: none;
    position: absolute;
    top: 30px;
    z-index: 1;
    width: 136px;
    background: #030303;
    color: white;
    text-align: center;
    font-family: inherit;
    margin: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-image: url("https://nonnietestsite.cfw.me/files/resources/buttonborder-color.png") 8 round;
}

.submenu a
{
    border-top: 1px solid gold;
    display: block;
    padding: 8px;
    font-family: 'GameBoy';
    text-transform: lowercase;
    font-size: 0.75rem;
    text-decoration: none;
    color: white;
    font-weight: normal;
}

.submenu a:hover, #navmenu .menuitem:hover
{
    background-color: steelblue;
    transition: background-color 0.3s;
}

.menuitem a, .menuitem a:hover, .menuitem a:visited
{
    color: white;
}

.drop
{
    display: inline-block;
    position: relative;
    font-family: inherit;
    margin: 0;
}

.drop:hover .submenu
{
    display: block;
    clear: both;
}


/* Mobile Mode */
#navmenu
{
    display: none;
}

#topbanner
{
    height: 100px;
    line-height: 100px;
}

#teaser
{
    float: none;
    clear: both;
    width: 100%;
}



@media only screen and (max-width: 767px)
{
    /* Hamburger Menu */
    /*#dropbutton:hover*/ #navmenu, .menuitem, .drop
    {
        clear: both;
        width: 130px;
        position: relative;
    }

    .drop:hover .submenu, .submenu a
    {
        display: block;
        position: relative;
        top: 0px;
    }
}

@media only screen and (min-width: 768px)
{
    /* Tablet Mode */
    #navmenu, .menuitem, .drop
    {
        display: inline-block;
        float: left;
    }
    
    #mobilemenu
    {
        display: none;
    }

    #topbanner
    {
        height: 200px;
        line-height: 200px;
        background-size: 176px 70px, 200px 200px, 200px 200px;
    }

    #topbanner h1
    {
        font-size: 3vw;
    }
    
    #teaser
    {
        float: right;
        width: 30%;
        min-width: 200px;
    }
}


@media only screen and (min-width: 1500px)
{
    /* Desktop Mode */
    body
    {
        background: #030303;
        background-image: url("https://nonnietestsite.cfw.me/files/resources/marauder-color.png"), url("https://7mercs.pro/images/starrybg.PNG");
        background-repeat: no-repeat, repeat;
        background-position: 98% 95%, left top;
        background-attachment: fixed, scroll;
        background-size: 8%, auto;

		image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
		image-rendering: -moz-crisp-edges;          /* Firefox                        */
		image-rendering: -o-crisp-edges;            /* Opera                          */
		image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
		image-rendering: pixelated;                 /* Chrome                         */
		image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
		-ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
    }

    #main
    {
        width: 70%;
    }
    
    /* Homepage */
    #teaser
    {
        float: right;
        min-width: 400px;
    }
}

//Epilogue Format

.dialogue 
{  
  margin: auto;
  max-width: 1280px;
	
}

.dialogue img 
{
    float: left;
    border: 1px solid #BCD;
    margin-top: 24px;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 25px;
    padding: 1px;
	border-radius: 2px;
    border: 1px solid #E0E0FF;
    background-color: #181868; 
}

.dialogue p
{  
    border-radius: 12px;
	background: #181868;
	font-size: 16px;
    margin-bottom: 12px;
    padding-left: 8px;
    padding-bottom: 8px;
    width: 100%;
    height: 50%;
    word-wrap: break-word;
    min-height: 78px;
}

.dialogue profilename
{ 
    color: #E0A010;
    text-shadow: #000000 -2px 1px;
    font-family: 'GameBoy';
    font-size: 16px;
    padding-left: 4px;
	scale: 1.0;
    text-transform: uppercase;
    float: left;
    margin-left: -4px;
    margin-top: 0px;
    word-break: break-word;
}



.narration
{ 
  margin: auto;
  max-width: 1280px;
}

.narration p
{ 
  border-radius: 4px;
  background: #223;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  font-size: 15px;
  background: #111144;
}

.description
{ 
  margin: auto;
  max-width: 1280px;
}

.description p
{ 
  border-radius: 4px;
  background: #223;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  font-size: 15px;
  background: #111144;
}

//Misc Epilogue Formatting

.epnum
{ 
  font-size: 14px;
  text-align: center;
  text-shadow: -2px 1px #202070;
  color: #e8e8f8;
  text-transform: uppercase;
  height: 8px;
}

.eptitle p
{ 
  font-size: 16px;
  text-align: center;
  text-shadow: -4px 2px #101050;
  color: #E0A010;
  font-family: 'GameBoy';
  text-transform: uppercase;
  margin-top: 16px;
  height: 8px;
}

.author p
{ 
  font-size: 14px;
  text-align: center;
  text-shadow: -2px 1px #202070;
  color: #e8e8f8;
}


.header
{ 
  font-size: 200%;
  text-align: center;
  text-shadow: -4px 3px #234;
  color: #CDE;
}


 
.location
{ 
  background-image: url("../../../superbuddN/assets/images/misc/cobaltcity.png");
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;          /* Firefox */
  image-rendering: -o-crisp-edges;            /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
  -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
  margin-bottom: 20px;
  max-width: 784px;
  padding-left: 8px;
  width: 98%;
  height: 96px;
  text-align: center;
  border-radius: 8px;
}

.location p
{ 
  font-size: 150%;
  text-align: center;
  text-shadow: -4px 3px #080808;
  color: #FCFCFC;
  border-radius: 4px;
  padding-top: 8px;
  font-family: 'Mega Man 6 Stats';
}

.location:before{
  font-size: 50%;
  text-align: center;
  text-shadow: -2px 1px #080808;
  color: #FCFCFC;
  border-radius: 4px;
  font-family: 'Mega Man 6 Stats';
  content: "Location";
}



	


tr:hover { background-color: #181868; }



// background-color: #0c376d; //bg
// background-color: #0a0f3a; //dialog bg
// outline: solid;
// outline-color: #3d7ac6;
// outline-width: 1px;